<form action="">
    <h1>CADASTRANDO LIVRO </h1>

    <mat-form-field class="form">
        <mat-label> Nome </mat-label>
        <input matInput type="text" name="name" required minlength="3" [(ngModel)]="livro.nome">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label> Autor </mat-label>
        <input matInput type="text" name="autor" required minlength="3" [(ngModel)]="livro.autor" >
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label> Editora </mat-label>
        <input matInput type="text" name="editora" required minlength="3" [(ngModel)]="livro.editora">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label> Genero </mat-label>
        <input matInput type="text" name="genero" required minlength="3" [(ngModel)]="livro.genero">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label> ISBN </mat-label>
        <input matInput type="number" name="isbn" required minlength="8" maxlength="13" [(ngModel)]="livro.isbn">
    </mat-form-field>

    <div class="buttons">
        <button (click)="create()" mat-raised-button>Cadastrar</button>
        <button (click)="cancel()" mat-raised-button color="warn">Cancelar</button>
    </div>

</form>