mat-icon{
  height: 1em;
  width: 1em;
  font-size: 32px;
  color: white;
  fill: 0;
}

h1{
  padding-left: 0.5em;
  height: 1em;
  font-weight: 400;
  color: whitesmoke;
}

.header{
  justify-content: center;
  background-color: #524444;
  height: 10%;
}
