.content{
  width: 90%;
  margin: 1em auto auto auto;
}

.title{
  text-align: center;
}

.title h1{
  font-size: 2em;
  color: #524444;
  font-weight: 500;
}

button{
  margin-bottom: .8rem;
}

.table{
  background-color: #e2f3f2;
}

th{
  color: #524444;
  text-align: center;
}

td{
  text-align: center;
}

.edit{
  color: #524444;
}

.delete{
  color: #e43838;
  margin-left: .5rem;
}


