<mat-sidenav-container class="container">
  <mat-sidenav mode="side" align="start" opened class="menu">
      <mat-nav-list>
        <a routerLink="" mat-list-item>
          <i class="material-icons">home</i> Home
        </a>
        <a mat-list-item>
          <i class="material-icons">folder_shared</i> Usuários
        </a>
        <a routerLink="/livros" mat-list-item>
          <i class="material-icons">menu_book</i> Livros
        </a>
        <a mat-list-item>
          <i class="material-icons">real_estate_agent</i> Emprestimos
        </a>
        <a mat-list-item>
          <i class="material-icons">logout</i> Sair
        </a>
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
